<footer class="bg-dark text-light py-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-4">
        <h5 class="mb-4">Smart Living E-Society</h5>
        <p class="mb-4">
          Redefining modern living for professionals with premium amenities and
          services.
        </p>
        <div class="social-links mb-4">
          <a href="#" class="text-light me-3"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a href="#" class="text-light me-3"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-light me-3"
            ><i class="fab fa-instagram"></i
          ></a>
          <a href="#" class="text-light"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class="col-lg-2 col-md-4">
        <h5 class="mb-4">Quick Links</h5>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="#home" class="text-light text-decoration-none">Home</a>
          </li>
          <li class="mb-2">
            <a href="#about" class="text-light text-decoration-none"
              >About Us</a
            >
          </li>
          <li class="mb-2">
            <a href="#services" class="text-light text-decoration-none"
              >Services</a
            >
          </li>
          <li class="mb-2">
            <a href="#pricing" class="text-light text-decoration-none"
              >Pricing</a
            >
          </li>
          <li class="mb-2">
            <a href="#contact" class="text-light text-decoration-none"
              >Contact</a
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-4">
        <h5 class="mb-4">Our Services</h5>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a
              href="services.html#accommodation"
              class="text-light text-decoration-none"
              >Managed Accommodation</a
            >
          </li>
          <li class="mb-2">
            <a
              href="services.html#dining"
              class="text-light text-decoration-none"
              >Dining Services</a
            >
          </li>
          <li class="mb-2">
            <a
              href="services.html#housekeeping"
              class="text-light text-decoration-none"
              >Housekeeping</a
            >
          </li>
          <li class="mb-2">
            <a
              href="services.html#laundry"
              class="text-light text-decoration-none"
              >Laundry Service</a
            >
          </li>
          <li class="mb-2">
            <a
              href="services.html#security"
              class="text-light text-decoration-none"
              >Security</a
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-4">
        <h5 class="mb-4">Newsletter</h5>
        <p class="mb-3">Subscribe to our newsletter for updates and offers.</p>
        <form class="newsletter-form">
          <div class="input-group mb-3">
            <input
              type="email"
              class="form-control"
              placeholder="Your email"
              required
            />
            <button class="btn btn-primary" type="submit">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
    <hr class="my-4" />
    <div class="row">
      <div class="col-md-6">
        <p class="mb-0">
          &copy; 2024 Smart Living E-Society. All rights reserved.
        </p>
      </div>
      <div class="col-md-6 text-md-end">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a href="#" class="text-light text-decoration-none"
              >Privacy Policy</a
            >
          </li>
          <li class="list-inline-item">
            <span class="text-light mx-2">|</span>
          </li>
          <li class="list-inline-item">
            <a href="#" class="text-light text-decoration-none"
              >Terms of Service</a
            >
          </li>
          <li class="list-inline-item">
            <span class="text-light mx-2">|</span>
          </li>
          <li class="list-inline-item">
            <a href="#" class="text-light text-decoration-none"
              >Cookie Policy</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
